<div class="thefirstfour">
  <div class="icon-box">
    <a routerLink="/dashboard/show-crime">
      <img src="../../../assets/Resources/10.png" alt="">
    </a>
  </div>
  <div class="icon-box">
    <a routerLink="/dashboard/safe-route">
      <img src="../../../assets/Resources/11.png" alt="">
    </a>
  </div>
  <div class="icon-box">
    <a routerLink="/dashboard/navigation">
      <img src="../../../assets/Resources/12.png" alt="">
    </a>
  </div>
  <!-- <div class="icon-box">
    <a href="/dashboardcrimerisklevel">
      <img src="../../../assets/Resources/13.png" alt="">
    </a>
  </div> -->
</div>
<div class="otherthefirstfour">
  <div class="icon-box">
    <a routerLink="/dashboard/help">
      <img src="../../../assets/Resources/14.png" alt="">
    </a>
  </div>
  <div class="icon-box">
    <a (click)="makeItOffline()">
      <img src="../../../assets/Resources/15.png" alt="">
    </a>
  </div>
  <div class="icon-box">
    <a routerLink="/dashboard/history">
      <img src="../../../assets/Resources/16.png" alt="">
    </a>
  </div>
  <div class="icon-box">
    <a routerLink="/dashboard/feature-info">
      <img src="../../../assets/Resources/17.png" alt="">
    </a>
  </div>
</div>