<ion-content [fullscreen]="true">
  <div id="container">
    <a routerLink="/dashboard"> <img class="back-btn" src="../../../assets/Resources/18.png" alt=""></a>
    <div class="myFirst">
      <!-- <div class="mysearch">
        <ion-icon class="search-icon" name="search"></ion-icon>
        <input type="text" placeholder="Search Destination">
      </div> -->

      <div class="greenbg">
        <div class="login">
          <img src="../../../assets/Resources/7.png" alt="">
          <h3>About</h3>
          <div class="displaytexthere" style="height: 150px; overflow-y: auto; text-align: left;">
            Introducing Spree - Your Ultimate Safety Navigator <br><br>

            Spree is a state-of-the-art mobile application that prioritizes your safety and delivers an unparalleled
            navigation experience. With its cutting-edge technology and advanced features, Spree empowers users to
            explore their community with confidence and peace of mind.<br><br>

            Enhancing Your Safety:<br>
            Spree leverages advanced machine learning algorithms to identify crime hotspots within your area. By
            analyzing real-time crime data and employing algorithms such as KDE, k-means, DBSCAN, and Classification,
            Spree ensures that you stay informed and aware of potential risks in your surroundings.<br><br>

            Optimizing Your Routes:<br>
            Say goodbye to uncertainty and delays. Spree employs intelligent pathfinding algorithms, including
            Dijsktra's Algorithm and A* Algorithm, to calculate the safest and most efficient routes to your
            destination. You can trust Spree to provide turn-by-turn directions that minimize exposure to potential
            risks, giving you peace of mind during every journey.<br><br>

            Safer Route Recommendations:<br>
            Spree goes above and beyond by offering additional safer route suggestions tailored to your preferences.
            Each suggested route comes with a comprehensive risk level indicator, enabling you to make informed
            decisions about your journey. Spree empowers you to choose the path that aligns with your comfort and safety
            requirements.<br><br>

            Real-Time Navigation at Your Fingertips:<br>
            Spree provides real-time navigation with turn-by-turn directions, ensuring you're always on the right track.
            With its intuitive interface and user-friendly design, Spree guides you effortlessly towards your
            destination while taking into account real-time crime data and ensuring the utmost safety throughout your
            journey.<br><br>

            Empowering Communities:<br>
            Spree aims to create a safer environment for everyone by actively engaging the community. As a Spree user,
            you can contribute to the safety of your neighborhood by reporting incidents directly through the app. Your
            inputs help keep the system updated with real-time data, making the community safer and more secure for
            everyone.<br><br>

            Spree is the ultimate safety companion for navigating your community. Experience a new level of confidence
            and security as you explore your surroundings. Download Spree today and embark on a journey where safety
            comes first.
          </div>
        </div>
      </div>
      <div class="secondDiv footer3">
        <!-- <h1>test</h1> -->
        <div class="loginandsignup">
          <div class="login">
            <img src="../../../assets/Resources/5.png" alt="">
            <h3><a (click)="signOut()">Sign Out</a></h3>
          </div>
          <div class="signup">
            <img src="../../../assets/Resources/6.png" alt="">

            <h3><a routerLink="/dashboard/profile">Profile</a></h3>
          </div>
          <div class="signup">
            <img src="../../../assets/Resources/7.png" alt="">

            <h3><a routerLink="/dashboard/about">About</a></h3>
          </div>

        </div>
        <!-- <img class="bottom-icon" src="../../assets/Resources/loginpage.png" alt=""> -->
      </div>
    </div>
  </div>
</ion-content>