<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Back</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div id="container">
    <!-- <img class="hamburger-ico" src="../../../assets/Resources/4.png" alt=""> -->
    <div class="myFirst">
      <div class="mysearch">
        <ion-icon class="search-icon" name="search"></ion-icon>
        <input type="text" #autocomplete [(ngModel)]="destination.Barangay" (click)="presentAreaModal()" placeholder="Search Destination">
      </div>

      <div class="greenbg">
        <a routerLink="/dashboard/profile"><ion-icon class="close-icon" color="#fff" name="close-circle"></ion-icon></a>
        <app-preferences></app-preferences>
        <div class="myothergreen">
          <div class="offlineandp">
            <img (click)="navigate()" src="../../../assets/Resources/11.png" alt="">
            <div>

              <!-- <select name="selectCrime" id="" [(ngModel)]="alternateRoute">
                <option value="">Select Alternative Route</option>
                <option *ngFor="let route of routes" value="{{ route}}">{{ route }}</option>
              </select> -->

              <select name="selectCrime" [(ngModel)]="selectedCrime">
                <option value="">Select Crime</option>
                <option *ngFor="let crime of crimes" [value]="crime.value">{{ crime.text}}</option>
              </select>

            </div>
          </div>

          
        </div>


      </div>


      <div class="secondDiv footer3">
       <app-bottom-tabs></app-bottom-tabs>
      </div>
    </div>
  </div>
</ion-content>