#container {
  text-align: center;
  top: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;

  .mysearch {
    background-color: #dabf29;
    height: 45px;
    border: 2px solid #000;
    border-radius: 20px;
    position: relative;
    ion-icon.search-icon.md.hydrated {
      transform: scale(2.1);
      margin-left: 13px;
      margin-top: 11px;
      position: absolute;
    }
    input {
      background: transparent;
      border: none;
      height: 100%;
      padding-left: 36px;
      &::placeholder {
        color: #000;
        font-size: 17px;
      }
    }
  }

  .greenbg {
    background: #dabf29;
    width: 84%;
    margin-top: 18px;
    position: relative;
    padding: 26px 5px;
    .close-icon {
      color: white !important;
      position: absolute;
      right: 5px;
      top: 5px;
      transform: scale(1.5);
    }

    .thefirstfour {
      display: flex;
    }
    .otherthefirstfour {
      display: flex;
    }
    .myothergreen {
      background-color: #dabf29;
      border-radius: 20px;
      padding: 10px;
      border: 2px solid #000;
      .offlineandp {
        display: flex;
        align-items: center;
        select {
          width: 90%;
          background: transparent;
          border: 2px solid;
          border-radius: 20px;
          padding: 5px 12px;
          option {
            background-color: #0097B2;
            font-size: 12px;
            &:checked {
              background-color: #000;
              color: white;
            }
            &:hover {
              background-color: #000;
              color: white;
            }
            &:active {
              background-color: #000;
              color: white;
            }
          }
        }
        input {
          width: 90%;
          margin-top: 15px;
        }
        img {
          width: 25%;
        }
        p {
          font-size: 15px;
          color: black;
        }
      }
      .inputsandbuttons {
        display: flex;
        align-items: center;
        padding-top: 5px;
        justify-content: start;
        gap: 5px;
        padding-top: 10px;
        padding-bottom: 40px;
        .adjust-route-preference {
          img {
            width: 60%;
          }
          p {
            font-size: 13px;
            color: #000;
            line-height: 18px;
          }
        }
        .allInputs {
          display: flex;
          flex-direction: column;
          gap: 10px;
          input {
            width: 100%;
            &::placeholder {
              font-size: 11px;
            }
          }
        }
        .arrow-down-ico {
          border: 1px solid #000;
          border-radius: 40px;
          padding: 6px;
        }
        h3 {
          font-size: 13px;
        }
        input {
          border: 2px solid #000;
          border-radius: 10px;
          background: #0097B2;
          padding: 3px 10px;
          width: 80%;
          &::placeholder {
            color: black;
            font-size: 12px;
          }
        }
      }
    }
  }
  .myFirst {
    background: url(../../../assets/Resources/secondbg.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    // justify-content: center;
    padding-top: 40px;
    .secondDiv {
      background-color: #0b4a0b80;
      width: 84%;
      margin: 0 auto;
      .loginandsignup {
        display: flex;
        align-items: center;
        .login {
          img {
            width: 35%;
          }
        }
        .signup {
          img {
            width: 35%;
          }
        }
        h3 {
          font-family: "Roboto Condensed", sans-serif;
          font-weight: 700;
          text-transform: capitalize;
        }
      }
    }

    .secondDiv.footer3 {
      position: absolute;
      bottom: 0;
      width: 100% !important;
      background: #dabf29 !important;
      padding: 10px 0px;
    }
  }
  h1 {
    padding: 0;
    margin: 0;
  }
  .compass {
    width: 70%;
    padding-top: 40px;
  }
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.hamburger-ico {
  position: absolute;
  width: 57px;
  height: 57px;
  top: 30px;
  left: 40px;
  background-color: #dabf29;
  border-radius: 33%;
  padding: 12px;
}
