<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">featuresinfo</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Back</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div id="container">
    <!-- <img class="hamburger-ico" src="../../../assets/Resources/4.png" alt=""> -->
    <div class="myFirst">
      <!-- <div class="mysearch">
        <ion-icon class="search-icon" name="search"></ion-icon>
        <input type="text" placeholder="Search Destination">
      </div> -->

      <div class="greenbg">
        <a routerLink="/dashboard/profile"><ion-icon class="close-icon" color="#fff" name="close-circle"></ion-icon></a>
        <app-preferences></app-preferences>

        <div class="myothergreen">
          <div class="offlineandp">
            <img src="../../../assets/Resources/16.png" alt="">
            <!-- <div>
              <ion-toggle color="dark" checked label="Enable notifications"></ion-toggle>
              <p> Detect time of the day</p>
            </div>
            <div>
              <ion-toggle color="dark" checked label="Enable notifications"></ion-toggle>
              <p> Switch to Day and night mode</p>
            </div> -->

          </div>
          <div class="displaytexthere" style="text-align: left; height: 150px; overflow-y: auto;">
            <ul>
              <li style="margin-bottom: 10px; border-bottom: 1px solid #000;" *ngFor="let item of history">{{item.text}} <br>
              <span style="color: rgb(62, 62, 62); font-size: 12px;">{{ item.dateTime | date }}</span>
              </li>
            </ul>

          </div>
          <!-- <img class="adjustCrime" src="../../../assets/Resources/icon111.png" alt=""> -->


        </div>


      </div>


      <div class="secondDiv footer3">
         <app-bottom-tabs></app-bottom-tabs>
      </div>
    </div>
  </div>
</ion-content>